.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-list-item,
.react-datepicker-time__header {
  font-family: 'Noto Sans KR Variable';
}

.react-datepicker {
  border-radius: 0.875rem !important;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.75rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0rem 0rem 0.75rem 0rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0rem 0rem 0.75rem 0rem rgba(0, 0, 0, 0.3);
}
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 0.75rem !important;
}

.react-datepicker__month-container,
.react-datepicker__time-container,
.react-datepicker__time-box {
  width: 90vw !important;
}

@media (min-width: 640px) {
  .react-datepicker__time-container,
  .react-datepicker__time-box {
    width: 12.5rem !important;
  }
  .react-datepicker__month-container {
    width: 100% !important;
  }
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.react-datepicker__header--time {
  height: 3.75rem;
  line-height: 3.75rem;
  padding: 0 !important;
}

.react-datepicker__time-list-item {
  padding: 0.5rem 0.75rem !important;
  height: 2.25rem !important;
}

.react-datepicker__time-list-item.react-datepicker__time-list-item--disabled:hover {
  background-color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
}

.react-datepicker__time-list-item--selected,
.react-datepicker__time-list-item--selected.react-datepicker__time-list-item:hover {
  background-color: #7e47e1 !important;
  color: white !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #d5c1f8 !important;
  transition: all 0.125s ease-in-out;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}
.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 2rem !important;
  line-height: 2rem !important;
  font-size: 1rem !important;
}

@media (min-width: 640px) {
  .react-datepicker__day,
  .react-datepicker__day-name {
    width: 2.5rem !important;
    line-height: 2.5rem !important;
    font-size: 0.875rem !important;
  }
}

.react-datepicker__day--selected {
  background-color: #7e47e1 !important;
  color: white !important;
  border-radius: 624.9375rem !important;
}

.react-datepicker__day:hover {
  background-color: #d5c1f8 !important;
  border-radius: 624.9375rem !important;
  transition: all 0.125s ease-in-out;
}

.react-datepicker__day.react-datepicker__day--selected:hover {
  background-color: #7e47e1 !important;
}

.react-datepicker__day--disabled.react-datepicker__day:hover {
  background-color: white !important;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 0.5rem;
}

.react-datepicker__day--outside-month {
  color: #303030 !important;
}

.react-datepicker__day--disabled.react-datepicker__day--outside-month {
  color: #ccc !important;
}

/* 스크롤바 스타일 */
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background-color: #d5c1f8;
  border-radius: 0.25rem;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb:active,
.react-datepicker__time-list::-webkit-scrollbar-thumb:hover {
  background-color: #7e47e1;
  border-radius: 0.25rem;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}
