@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR';
}

input:focus {
  outline: none;
}

.custom-progress::-webkit-progress-bar {
  background-color: white;
}

.custom-progress::-webkit-progress-value {
  background-color: #d9d9d9;
}
